# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\apache-tomcat-10.1.48\git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
